TEST_DAPP_URL=https://c0f4f41c-2f55-4863-921b-sdk-docs.github.io/test-dapp/
SDK_PLAYGROUND_DAPP_URL=https://mmsdk-playground-test.vercel.app/demo
WEB3_ON_BOARD_DAPP_URL=https://mmsdk-playground-test.vercel.app/onboard
