<ul>
  <li>Main Monorepo Release: RELEASE_VERSION_PLACEHOLDER <a href='https://github.com/MetaMask/metamask-sdk/releases/tag/vRELEASE_VERSION_PLACEHOLDER'>Release Page</a></li>
  <li><span>@metamask/sdk</span>: SDK_VERSION_PLACEHOLDER <a href='https://github.com/MetaMask/metamask-sdk/blob/vRELEASE_VERSION_PLACEHOLDER/packages/sdk/CHANGELOG.md'>Changelog</a></li>
  <li><span>@metamask/sdk-communication-layer</span>: SDK_COMM_LAYER_VERSION_PLACEHOLDER <a href='https://github.com/MetaMask/metamask-sdk/blob/vRELEASE_VERSION_PLACEHOLDER/packages/sdk-communication-layer/CHANGELOG.md'>Changelog</a></li>
  <li><span>@metamask/sdk-react</span>: SDK_REACT_VERSION_PLACEHOLDER <a href='https://github.com/MetaMask/metamask-sdk/blob/vRELEASE_VERSION_PLACEHOLDER/packages/sdk-react/CHANGELOG.md'>Changelog</a></li>
  <li><span>@metamask/sdk-ui</span>: SDK_UI_VERSION_PLACEHOLDER <a href='https://github.com/MetaMask/metamask-sdk/blob/vRELEASE_VERSION_PLACEHOLDER/packages/sdk-ui/CHANGELOG.md'>Changelog</a></li>
  <li><span>@metamask/sdk-react-ui</span>: SDK_REACT_UI_VERSION_PLACEHOLDER <a href='https://github.com/MetaMask/metamask-sdk/blob/vRELEASE_VERSION_PLACEHOLDER/packages/sdk-react-ui/CHANGELOG.md'>Changelog</a></li>
  <li><span>@metamask/sdk-install-modal-web</span>: SDK_INSTALL_MODAL_WEB_VERSION_PLACEHOLDER <a href='https://github.com/MetaMask/metamask-sdk/blob/vRELEASE_VERSION_PLACEHOLDER/packages/sdk-install-modal-web/CHANGELOG.md'>Changelog</a></li>
</ul>
