@import url('https://fonts.cdnfonts.com/css/euclid-circular-b');

@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.action-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.action-buttons button {
  padding: 10;
  background-color: #61dafb;
}

.action-buttons button.chain {
  padding: 10;
  background-color: #6495ED	;
}

.alternate-row {
  background-color: #f2f2f2;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

.loading-spinner {
  color: #007bff; /* Or any color you prefer */
  font-size: 2rem; /* Adjust the size as needed */
}
