name: Run JS E2E Tests on iOS

on:
  workflow_dispatch:
    inputs:
      rn_test_app_name_ios:
        description: 'React Native Test App ipa'
        required: true
        type: choice
        options:
          - 'RN-demo-0-14-2.ipa'
      wallet_app_name_ios:
        description: 'MM Wallet iOS ipa name'
        required: true
        type: choice
        options:
          - 'MM-Wallet-7-16.0-RC.ipa'

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    env:
      SRP: ${{ secrets.SRP }}
      BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
      BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
      BROWSERSTACK_API_USERNAME: ${{ secrets.BROWSERSTACK_API_USERNAME }}
      BROWSERSTACK_API_PASSWORD: ${{ secrets.BROWSERSTACK_API_PASSWORD }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.18.2'

      - name: Install dependencies
        run: yarn install && cd e2e && yarn install && cd ..

      # Create .ios.env with inputs in the /e2e directory
      - name: Create .ios.env
        run: |
          browserstack_api_url="https://api-cloud.browserstack.com/app-automate/recent_apps/"
          response=$(curl -s -u "$BROWSERSTACK_API_USERNAME:$BROWSERSTACK_API_PASSWORD" "$browserstack_api_url")
          ios_wallet_app_name="${{ inputs.wallet_app_name_ios }}"
          ios_rn_app_name="${{ inputs.rn_test_app_name_ios }}"

          # Gets the app_url and custom_id for the wallet app and the react native test app to use in the .ios.env file
          ios_wallet_app_url=$(echo "$response" | jq -r --arg ios_wallet_app_name "$ios_wallet_app_name" '.[] | select(.app_name == $ios_wallet_app_name) | .app_url')
          ios_wallet_app_bundle_id=$(echo "$response" | jq -r --arg ios_wallet_app_name "$ios_wallet_app_name" '.[] | select(.app_name == $ios_wallet_app_name) | .custom_id')
          ios_rn_app_url=$(echo "$response" | jq -r --arg ios_rn_app_name "$ios_rn_app_name" '.[] | select(.app_name == $ios_rn_app_name) | .app_url')
          ios_rn_app_bundle_id=$(echo "$response" | jq -r --arg ios_rn_app_name "$ios_rn_app_name" '.[] | select(.app_name == $ios_rn_app_name) | .custom_id')

          # Writes to the .ios.env file
          {
            echo "APP_PATH=$ios_wallet_app_url"
            echo "BUNDLE_ID=$ios_wallet_app_bundle_id"
            echo "RN_TEST_APP_PATH=$ios_rn_app_url"
            echo "RN_TEST_APP_BUNDLE_ID=$ios_rn_app_bundle_id"
          } >> e2e/.ios.env

      # Hard code .dapps.env values in the /e2e directory
      - name: Set Dapps Environment Variables
        run: |
          {
            echo "TEST_DAPP_URL=https://c0f4f41c-2f55-4863-921b-sdk-docs.github.io/test-dapp/"
            echo "SDK_PLAYGROUND_DAPP_URL=https://mmsdk-playground-test.vercel.app/demo"
            echo "WEB3_ON_BOARD_DAPP_URL=https://mmsdk-playground-test.vercel.app/onboard"
          } >> e2e/.dapps.env

      - name: Run JS-SDK iOS E2E tests
        working-directory: ./e2e
        run: yarn test:ios:jssdk:e2e:browserstack
